/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "ergonaut_one_nice.dtsi"

/ {
    chosen {
        zmk,physical-layout = &ergonaut_physical_layout;
    };

    kscan_dummy: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        status = "disabled";
    };

    ergonaut_transform: transform {
        compatible = "zmk,physical-layout-transform";
        map = <
            0  1  2  3  4  5
            6  7  8  9  10 11
            12 13 14 15 16 17
                  18 19 20

            21 22 23 24 25 26
            27 28 29 30 31 32
            33 34 35 36 37 38
                  39 40 41
        >;
    };

    ergonaut_physical_layout: physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Ergonaut";

        kscan = <&kscan_dummy>;
        transform = <&ergonaut_transform>;

        keys = <
            &kp0 &kp1 &kp2 &kp3 &kp4 &kp5
            &kp6 &kp7 &kp8 &kp9 &kp10 &kp11
            &kp12 &kp13 &kp14 &kp15 &kp16 &kp17
                   &kp18 &kp19 &kp20
            &kp21 &kp22 &kp23 &kp24 &kp25 &kp26
            &kp27 &kp28 &kp29 &kp30 &kp31 &kp32
            &kp33 &kp34 &kp35 &kp36 &kp37 &kp38
                   &kp39 &kp40 &kp41
        >;
    };
};

&pro_micro_i2c {   
    status = "okay";

    oled: ssd1306@3c {
        compatible = "sinowealth,sh1106";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-offset = <2>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        prechargep = <0x22>;
        inversion-on;
    };
};
