/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "ergonaut_one_nice.dtsi"

/ {
    chosen {
        zmk,physical-layout = &ergonaut_physical_layout;
    };

    ergonaut_physical_layout: physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Ergonaut";

        keys = <
            0    0   18 18
            20   0   18 18
            40   0   18 18
            60   0   18 18
            80   0   18 18

            0    20  18 18
            20   20  18 18
            40   20  18 18
            60   20  18 18
            80   20  18 18

            0    40  18 18
            20   40  18 18
            40   40  18 18
            60   40  18 18
            80   40  18 18

            40   65  18 18
            60   65  18 18

            120  0   18 18
            140  0   18 18
            160  0   18 18
            180  0   18 18
            200  0   18 18

            120  20  18 18
            140  20  18 18
            160  20  18 18
            180  20  18 18
            200  20  18 18

            120  40  18 18
            140  40  18 18
            160  40  18 18
            180  40  18 18
            200  40  18 18

            140  65  18 18
            160  65  18 18
        >;
    };
};

&pro_micro_i2c {   
    status = "okay";

    oled: ssd1306@3c {
        compatible = "sinowealth,sh1106";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-offset = <2>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        prechargep = <0x22>;
        inversion-on;
    };
};
