/*
 * SPDX-License-Identifier: MIT
 */

#include "ergonaut_one.dtsi"

&kscan0 {
    /* Прямое указание пинов без pinctrl */
    row-gpios
        = <&gpio0 1 GPIO_ACTIVE_HIGH>   // Row 0
        , <&gpio0 2 GPIO_ACTIVE_HIGH>   // Row 1
        , <&gpio0 3 GPIO_ACTIVE_HIGH>   // Row 2
        , <&gpio0 4 GPIO_ACTIVE_HIGH>   // Row 3
        ;
        
    col-gpios
        = <&gpio0 5 GPIO_ACTIVE_HIGH>   // Col 0
        , <&gpio0 6 GPIO_ACTIVE_HIGH>   // Col 1
        , <&gpio0 7 GPIO_ACTIVE_HIGH>   // Col 2
        , <&gpio1 0 GPIO_ACTIVE_HIGH>   // Col 3
        , <&gpio1 1 GPIO_ACTIVE_HIGH>   // Col 4
        , <&gpio1 2 GPIO_ACTIVE_HIGH>   // Col 5
        ;
};
