/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "ergonaut_one_nice.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan_0;
        zephyr,display = &oled;
    };
    zmk_studio {
      compatible = "zmk,studio";
      status = "okay";
    };
    physical_layout {
     compatible = "zmk,physical-layout";
     display-name = "Ergonaut One(Dongle)";
     kscan = kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
     transform = <&identity_transform>;
     keys = <>;
    };
};

&pro_micro_i2c {   
    status = "okay";

    oled: ssd1306@3c {
        compatible = "sinowealth,sh1106";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-offset = <2>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        prechargep = <0x22>;
        inversion-on;
    };
};
